################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleConsoleLogger/.vs/SimpleConsoleLogger/v16
/SimpleConsoleLogger/SimpleConsoleLogger/bin/Debug/netcoreapp2.1
/SimpleConsoleLogger/SimpleConsoleLogger/obj
/SimpleConsoleLogger/.vs/SimpleConsoleLogger/DesignTimeBuild
/SimpleConsoleLogger/SimpleConsoleLogger/bin/Debug/net472
/SimpleConsoleLogger/SimpleConsoleLogger/bin/Debug/net452
*.nupkg
/SimpleConsoleLogger/SimpleConsoleLogger/bin/Debug/net48
/SimpleConsoleLogger/SimpleConsoleLogger/bin/Debug
