################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleConsoleLogger/.vs/SimpleConsoleLogger/v16
